
#startbutton {
  color: white;
  background-color: #313A7D
;
  border-color: #313A7D
;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}

#startbutton:hover,
#startbutton:focus,
#startbutton:active,
#startbutton.active,
.open .dropdown-toggle.btn-xl {
  background-color: #313A7D;
  border-color: #313A7D;
}
#whitefont {
  color:#D3D3D3;
}

.align {
  text-align:left;
}

.modal-content {
  background:rgba(255,255,255,.95)
}
