a, div, h1, h2, h3, h4, h5, p {
    color:white !important;
}

.jumbotron {
    text-align:center;
    background:none;
    color:white;
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
}

#canvasOne {
    width: 100%;
    height: auto;
}

body, html {
    height: 100%;
}

@font-face {
    font-family: SFDisplay;
    src: url(../font/SFDisplayRegular.ttf);
}

div {
    font-family: SFDisplay;
}


input[type=checkbox] {
    transform: scale(1.5);
}


.btn {
    background-color:#0077be !important;
    text-align:center !important;
    color:white !important;
}

.btn:hover{
    background-color:darkblue !important;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    animation: jiggle 0.5s infinite linear;
}

@keyframes jiggle {
    /* start at 0deg and this scale size.
       scale size is repeated here to maintain smooth scaling */
    0% {transform: rotate(0deg) scale(1.15,1.15);}
    /* midway rotate 2deg right */
    50% {transform: rotate(2deg) scale(1.15,1.15);}
    /* end rotate -2deg left */
    100% {transform: rotate(-2deg) scale(1.15,1.15)}
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.focustext {
    padding:20px 20px;
}
/* sidebar */

body {

    /* The image used */
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../images/bg.jpg");


    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
}



.badge {
    background-color: #777;
}

.tabs-left {
    margin-top: 3rem;
}

.nav-tabs {
    float: left;
    border-bottom: 0;
}
.nav-tabs li {
    float: none;
    margin: 0;
}
.nav-tabs li a {
    margin-right: 0;
    border: 0;
    background-color: #313A7D;
}
.nav-tabs li a:hover {
    background-color: #444;
}
.nav-tabs .glyphicon {
    color: #fff;
}
.nav-tabs .active .glyphicon {
    color: #333;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 0;
}

.tab-content {
    margin-left: 45px;
}
.tab-content .tab-pane {
    display: none;
    background-color: #313A7D;
    padding: 1.6rem;
    overflow-y: auto;
    border-radius:10px;
}
.tab-content .active {
    display: block;
}

.list-group {
    width: 100%;
}
.list-group .list-group-item {
    height: 50px;
}
.list-group .list-group-item h4, .list-group .list-group-item span {
    line-height: 11px;
}

